@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googzpis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$main-bg-color: rgb(255, 255, 255);
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;  
$accent-black: #3b465c;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$project-container-color: #ffffff;
$light-grey: rgba(0, 0, 0, .54);
@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;

$header-text-color: rgb(0, 0, 0);
$header-background-color: rgba(255, 255, 255, 0.9);

$statistics-background-color: $color-snow;
$statistics-color: $accent-black;
$secondry-text: $light-grey;


body {
  background: $main-bg-color;    
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-top: 65px;
  @media only screen and (max-device-width: 600px) {
    font-size: 3rem;
  }
}

.secondry-text {
  color:$secondry-text;
}

h2 {
  @media only screen and (max-device-width: 600px) {
    font-size: 5rem;
  } 
}


h3 {
  @media only screen and (max-device-width: 600px) {
    font-size: 4rem;
  } 
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: left;
  margin-bottom:15px;
}

.project-container {
  
  margin-bottom: 4vh;
  // -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  //   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
  //         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;   // <---these can be added to add shadow for the boxes
}
.btn-on-intro {
  background-color: black;
  border-radius: 6px;
  padding: 10px 20px;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.btn-on-intro:hover {
  background-color: black;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  // transition: transform .25s ease-out, -webkit-transform .25s ease-out;
} 

// .project-link {
//   color: $accent-black;
// }

.link-to-project {
  display:block;
  text-decoration: none !important; 
  color: $accent-black;
    transition: transform .25s ease-out,
    -webkit-transform .25s ease-out;
}

.link-to-project:hover {
    transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    color:#FD443E;  
}

.screenshot-container {
  margin-right: 5vw;
  margin-left: 0.5vw;
  height: auto;
  width: 400px;  
}

.screenshot-container img {
  width: 45vh;
  height:31.25vh;
  position: relative;
  margin-left: 15px;  
}

.center-image{
  margin-left: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .15);
  transition: box-shadow .25s;
}

.center-image:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.iphone {
  background: $color-snow;
  border: solid 2px $color-silver;
  height: 48vh;
  width: 25vh;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 2px rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
  position: absolute;
  right: 2em;
  top: 30vh;
  @media screen and (max-width: 1000px) {
    top: 20vh;
  }
  @media only screen and (max-device-width: 800px) {
    display: none;
  }
}

.iphone-inner {
  background: $color-snow;
  border: solid 2px $color-silver-dark;
  height: 48vh;
  width: 24vh;
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
    .circ-button {
      background: $color-snow;
      border: solid 2px #3b3b3b;
      width: 3vh;
      height: 3vh;
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      top: 30px;
      margin-top: .5vh;
      cursor: pointer;
    }

  .camera {
    @include linear-gradient(#1f1f1f, #141414);
    position: relative;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: solid 1px $color-silver;
    top: 1vh;
    margin-left: auto;
    margin-right: auto;
  }

  .oval {
    @include linear-gradient(#1f1f1f, #141414);
    width: 32px;
    height: 3px;
    top: 11px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: -9.6px;
    position: relative;
  }
}

.screen {
  position: relative;
  width: 22vh;
  height: 38vh;
  margin: 0 auto;
  top: 4vh;
  overflow: hidden;
  @include linear-gradient(#1f1f1f, #141414);
  border: solid 2px #3b3b3b;@include transition(all .4s $ease-in-circ);
}

.screen img {
  width: 21.5vh;
  height: 38vh;
}

.project-info {
  flex: 0 2 auto;
  height: 100%;
  width:90%;      
}

.github-info {
  margin: 5vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 5vh;

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $accent-blue;
  }
}

  #heart{
    color: $accent-red;
  }
}

.header {
  background-color: $header-background-color;
  /* remove the gradient */
  background-image: none !important;
  // box-shadow: 0 8px 6px -6px rgba(0,0,0, .2);  // <--- this is for shadow on the navbar
  padding-top: 10px;
}

.header a {
  color: $accent-black; 
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  margin-top: -5px;
}

ul.nav{
  display:inline-flex;
}

.nav-link{
  border-bottom: 4px solid transparent;
  transition: border-bottom .3s;
  &:hover {
    border-bottom: 4px solid #FD443E
  }
}

.name-head {
  border-bottom: 4px solid transparent;
  transition: border-bottom .3s;
  text-decoration: none;
  &:hover {
    border-bottom: 4px solid #FD443E;
  }
}
.name-head>a:focus,
.name-head>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.jumboLink{
    transition: border-bottom .3s;  
  &:hover {
    border-bottom: 4px solid #FD443E;
  };
  color: #3b465c  ;
}

.text-on-jumbo {
  font-weight: 300;
}

.hide-when-small {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.icon {
  font-size: 1.4em;
}

.iconOnJumbo {
  padding: 10px;
  color: #3b465c;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.footer_icon {
  height: 18px;
  width: auto;
  @media only screen and (max-device-width: 600px) {
    height: 5rem;
  }
}

.tech-icon-container {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

// .link-to-project {
//   display: block;
//   text-decoration: none !important;
//   color: $accent-black;
//   transition: transform .25s ease-out, -webkit-transform .25s ease-out;
// }

// .link-to-project:hover {
//   transform: scale(1.03, 1.03);
//   -webkit-transform: scale(1.03, 1.03);
//   -moz-transform: scale(1.03, 1.03);
//   color: $light-grey;
// }


.tech-icon-size {
    margin-right: 5px;
    margin-bottom: 5px;
    height: 2em;
}
.tech-icon {
  transition: transform .25s ease-out,
  -webkit-transform .25s ease-out;
}

.tech-icon:hover {
  color:#FD443E;
  height: 2em;
    transform: scale(1.01  , 1.01 );
    -webkit-transform: scale(1.01  , 1.01 );
    -moz-transform: scale(1.01 , 1.01  );

}

.statistics {
  background-color: $statistics-background-color;
  color: $statistics-color;
  width: 80vw;
  padding: 1vh 1vw 1vh 1vw; 
  margin-bottom: 2em;
}

.introduction {
  margin-top: 60px;
  height: 40vh;
  background-color: white;
}

.about {
  background-color: white;
  margin-bottom: 50px;
}

.navbar-brand {
  line-height: normal;
  @media only screen and (max-device-width: 600px) {
    font-size: 3rem;
  } 
}

.jumbotron-on-intro{
  margin-top: 70px;
  margin-bottom: 45px;
  background: white;
}

.article-skills{
  width: 40%;
}

.list {
  display: block;
  letter-spacing: 0.5;
  list-style-type: none;
}

.header-skills{
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.15;
  color:$accent-black;
}

.list-item{
  padding-top: .25rem;
  padding-bottom: .25rem;
  line-height: 1.7;
}

.about {
  padding-top: .25rem;
  padding-bottom: .25rem;
  line-height: 1.5;
}

.hi-3{
  font-size: 48px;
}



.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}
